@import 'themeColors';

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
    
    .copyright {

        p {
            color: grey;
            text-align: center;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
        }
    }

    .links {

        a {
            margin-right: 1rem;
            opacity: 0.5;

            &:last-child {
                margin: 0;
            }

            &:hover {
                opacity: 1
            }

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }
} 


